* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

.bold-text {
    font-weight: bold;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #304145;
    z-index: 2;
}

.header__logo {
    z-index: 3;
    cursor: pointer;
}

.header__body {
    max-width: 900px;
    margin: 0px auto;
    padding: 0px 30px;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.header__burger {
    display: none;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li {
    list-style: none;
    margin: 20px;
    cursor: pointer;
}

.header__list li a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.header__list li a:after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    content: "";
    transition: width 0.3s ease-out;
}

.header__list li a:hover:after {
    width: 100%;
}

.personal-info {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.personal-info-left {
    width: 225px;
}

.png-file-column {
    position: relative;
}

.personal-info img {
    height: 300px;
    float: left;
    border-radius: 20px;
}
.fly-icon img {
    border-radius: 100%;
}

.download-button {
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    color: #304145;
    padding: 5px;
    width: auto;
    height: 30px;
    margin-top: 10px;
    background: transparent;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #304145 50%,
            #304145);
    background-position: 100% 0;
    background-size: 210% 105%;
    transition: all 0.35s ease-in;
    letter-spacing: 1px;
    border: 2px solid #304145;
    border-radius: 30px;
    cursor: pointer;
}

.download-button:hover {
    background-position: 0 0;
    color: rgb(240, 240, 240);
}

.info-left-second ul {
    list-style: circle;
}

.personal-info-right {
    width: 70%;
    margin-left: 30px;
}

.info-header {
    padding-bottom: 20px;
}

.info-header h1 {
    font-size: calc(16px + 15 * (100vw / 1280));
    white-space: nowrap;
    padding-bottom: 10px;
    font-family: "Roboto Condensed", sans-serif;
}

.info-header p {
    font-weight: bold;
    font-size: 20px;
}

.contacts {
    padding-bottom: 30px;
    border-bottom: 1px solid;
}

h3 {
    padding: 10px 0;
}

.png-file-column {
    height: auto;
    max-width: 300px;
}

.contacts-list {
    list-style: none;
    display: grid;
    grid-template-columns: 90px auto;
}

.contacts-list p {
    font-weight: bold;
}

.personal-info ul {
    padding-left: 30px;
    line-height: 25px;
}

.work-experience {
    padding-bottom: 30px;
    border-bottom: 1px solid;
}

.work-experience p {
    padding: 10px 0;
}

.education {
    padding-bottom: 30px;
    border-bottom: 1px solid;
}

.education-inst {
    padding-bottom: 20px;
    max-width: 400px;
    margin: auto;
}

.education ul {
    padding-top: 5px;
}

.list-technical-skils {
    padding-bottom: 30px;
    border-bottom: 1px solid;
}

.languages {
    padding-bottom: 30px;
    border-bottom: 1px solid;
}

.study-incamp {
    padding-bottom: 30px;
}

.fly-icon {
    position: absolute;
    left: 160px;
    top: 15px;
}

.fly-icon img {
    height: 40px;
    width: 47px;
    animation: spin 4s linear 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 772px) {
    body.lock {
        overflow: hidden;
    }

    .header__body {
        height: 50px;
    }

    .header__burger {
        display: block;
        height: 20px;
        width: 30px;
        position: relative;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.show span {
        transform: scale(0);
    }

    .header__burger.show::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.show::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        right: 0%;
        min-width: 25%;
        height: auto;
        overflow: auto;
        transition: all 0.5s ease 0s;
        background-color: #304145;
        padding: 70px 10px 20px 10px;
    }

    .header__menu.show {
        top: 0;
    }

    .header__list {
        display: block;
    }

    .header__list li {
        text-align: center;
        color: rgb(49, 49, 49);
        margin: 0 10px 10px 10px;
    }

    .personal-info {
        display: block;
    }

    .personal-info-left {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .info-header {
        text-align: center;
    }

    .personal-info-right {
        width: 100%;
        margin-left: 0;
    }

    .personal-info ul {
        margin: auto;
    }

    .contacts {
        text-align: center;
    }

    .contacts-list {
        width: max-content;
    }

    .contacts-list li {
        text-align: left;
    }

    .info-left-second {
        display: block;
        text-align: center;
    }

    .info-left-second ul {
        list-style: none;
    }

    .list-other-skils {
        padding-bottom: 30px;
        border-bottom: 1px solid;
    }

    .personal-info-right {
        text-align: center;
    }

    .personal-info-right ul {
        list-style: none;
    }

    .incamp-table {
        margin: auto;
    }

    .info-header p {
        max-width: 400px;
        margin: auto;
    }

    .png-file-column {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        position: relative;
    }

    .personal-info ul {
        padding-left: 0;
        max-width: 340px;
    }

    .footer {
        display: block !important;
    }

    .footer .left {
        max-width: 270px;
    }

    .right {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .right input,
    textarea {
        width: 100% !important;
    }

    .left {
        width: 300px;
        text-align: center;
        margin: auto;
    }
}

footer {
    background: #304145;
}

.footer {
    max-width: 900px;
    margin: auto;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 30px;
}

.footer .left {
    min-width: 270px;
}

.footer .left h2 {
    padding-bottom: 30px;
    color: #fff;
}

.footer .left span {
    word-break: normal;
}

.footer .left p {
    color: #cdcdcd;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.right {
    font-family: "Lato", sans-serif;
    width: 70%;
    margin-left: 30px;
}

.right p {
    color: #fff;
    margin: 5% 0 1% 0;
}

.right input {
    background: #4b595c;
    height: 30px;
    width: 100%;
}

.right textarea {
    background: #4b595c;
    height: 145px;
    width: 100%;
}

.letter {
    color: #fff;
    margin-right: 10%;
}

input,
input,
input,
textarea {
    font-size: 17px;
    color: #fff;
    padding-left: 5px;
}

.footerbutton {
    font-size: 15px;
    font-family: "Lato", sans-serif;
    color: #fff;
    padding: 5px 5px;
    width: auto;
    height: auto;
    margin: 10px 10px 0 0;
    background: transparent;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #6b7679 50%,
            #6b7679);
    background-position: 100% 0;
    background-size: 210% 105%;
    transition: all 0.35s ease-in;
    letter-spacing: 1px;
    border: 1px solid #fff;
    border-radius: 30px;
    cursor: pointer;
}

.footerbutton:hover {
    background-position: 0 0;
    color: #fff;
    border: 1px solid #4b595c;
}